<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bmathias.go4lunch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.bmathias.go4lunch.utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Go4Lunch_">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.bmathias.go4lunch.ui.workmates.ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.Go4Lunch_.NoActionBar" />
        <activity
            android:name="com.bmathias.go4lunch.ui.SettingsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name="com.bmathias.go4lunch.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bmathias.go4lunch.ui.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Go4Lunch_.NoActionBar" />
        <activity
            android:name="com.bmathias.go4lunch.ui.list.DetailsActivity"
            android:exported="false"
            android:parentActivityName="com.bmathias.go4lunch.ui.MainActivity"
            android:theme="@style/Theme.Go4Lunch_.NoActionBar" />
        <activity
            android:name="com.bmathias.go4lunch.ui.AuthActivity"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.Go4Lunch_.NoActionBar" />

        <!-- NOTIFICATION SERVICE -->
        <receiver
            android:name="com.bmathias.go4lunch.utils.WakeUpAlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.bmathias.go4lunch.utils.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>